.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 15%);
    height: 75px;
    padding: 0px 30px;
}

.left, .right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.left a, .right a{

    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    list-style: none;
}